<input id="id_construction" value="{{ constructiona.construction }}">
<script>
$(document).ready(function() {
    var x = document.getElementById('id_construction').value;
    if (x.indexOf("$") != 0)
    {
        x = "$" + x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }

    document.getElementById('id_construction').value = x;
    });

$(function(){
    $('input#id_construction').focus(function(){
setTimeout(function(){
    $(".rm-modal3").show()
        }, 200);
    });
});
</script>