<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="#" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../static/login/conerror.css">
    <title>Wood Street Cabinet Bidding Program</title>
</head>
<body  style="background-image: url('../../../../img/wood.jpg');
             background-repeat: no-repeat;
             background-attachment: fixed;
             background-size: cover;">
<section id="workarea1">
    <section id="section2">
        <h1 id="formh2">This Customer is already in the system.</h1>
        <h1 id="formh3">Would you like to go to their Information Page?</h1>
    </section>
    <div id="button1">
    <a class="btn btn9" href="">Yes</a>
    <a class="btn btn9" href="../newcust">No</a>
    </div>
</section>
</body>
</html>
<script type="text/javascript">
</script>