<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" type="image/png" href="../../../img/favicon1.png"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../static/login/deleterm.css">
    <title>Wood Street Cabinet Bidding Program</title>
</head>
<body  style="background-image: url('../../../../img/wood.jpg');
             background-repeat: no-repeat;
             background-attachment: fixed;
             background-size: cover;">
<section id="workarea1">
            <section id="section2"

            >
                <h1 id="header">Are you sure you want to delete this room?</h1>
                <form id="form2" method="post">
                    {% csrf_token %}
                    {{ form.as_table }}
                </form>
                <div id="button1">
                    <a class="button1" href="{% url 'wscdatabase:deleterm' instance.bid_idA %}">Yes</a>
                    <a class="button2" href="{{ instance.get_absolute21_url }}">No</a>
                </div>

            </section>
        </section>
</body>
</html>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>






</script>