<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" type="image/png" href="img/favicon.png"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../static/login/dupconinfo.css">
    <title>Wood Street Cabinet Bidding Program</title>
</head>
<body  style="background-image: url('../../../../img/wood.jpg');
             background-repeat: no-repeat;
             background-attachment: fixed;
             background-size: cover;">
<section id="workarea1">
            <section id="section2">
                <form id="form2" method="post">
                    {% csrf_token %}
                    {{ form.as_table }}
                </form>
                <h1 id="formh2">Is the Customer's Information the same as the Contractors?</h1>
                <div id="button1">
                    <a class="button1" href="../yesdupcon/">Yes</a>
                    <a class="button2" href="{{ instance.get_absolute4_url }}">No</a>
                </div>

            </section>
    <div class="rm-modal" style="display:none">
        <div class="modal-content">
            <h3 id="modaltitle">Please Wait</h3>
        </div>
    </div>
        </section>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
$(function(){
    $('.button1').click(function(){
    $(".rm-modal").show()

    });
});
</script>
</body>
</html>

