body{
  font: 16px/1.5 Arial, Helvetica,sans-serif;
  padding:0;
  margin:0;
}

div.container{
    width:100%;
    height:99vh;
    margin-top:0px;
    margin-left:auto;
    margin-right:auto;
    display: flex;
}

div.container1{
    flex: .75;
}

div.container2{
    flex: 5;
}

div.containerheader{
    width: 100%;
    height: 14vh;
    border-bottom: black 3px solid;
}

div.header1{
    width: 100%;
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.header2{
    width: 100%;
    height: 7vh;
    display: flex;
}



div.container2a{
    width: 100%;
    height: 40%;
    display: flex;
}

div.container2a1{
    width: 100%;
    height: 100%;
    border: 1px solid black;
}
div.container2a2{
    width: 100%;
    height: 100%;
    border: 1px solid black;

}
div.container2a3{
    width: 100%;
    height: 100%;
    border: 1px solid black;

}



div.container2b{
    width: 100%;
    height: 40%;
    display: flex;
}
div.container2b1{
    width: 100%;
    height: 100%;
    border: 1px solid black;
}
div.container2b2{
    width: 100%;
    height: 100%;
    border: 1px solid black;

}
div.container2b3{
    width: 100%;
    height: 100%;
    border: 1px solid black;

}

div.container3{
    flex: .75;
}

section#workarea1{
    width:100%;
    height:87vh;
    margin-left:auto;
    margin-right:auto;
}



input#id_max{
    width: 1vh;
    height: 30px;
    margin-top: 0px;
    margin-right: 0px;
    margin-left:0px;
    background: #a9a9a9;
    color:#a9a9a9;
    display:inline-block;
    -moz-appearance: textfield;
    float:right;
    border:none;

}

a#back{
    border: 2px solid black;
    border-radius: 2px;
    background: gold;
    min-width: 7vw;
    font-size: calc(.5vw + .5vh + .20vmin);
    font-style: italic;
    font-family: "Times New Roman";
    font-weight: bold;
    cursor: pointer;
    margin-top: 6vh;
    margin-left:20%;
    transition: 0.6s;
    text-align: center;
    overflow: hidden;
    padding:3px 5px;
    display:inline-block;
    float: left;
}
a#back{
    color: #000000;
}

a#back:hover{
    color: white;
    background: green;
    text-decoration: underline;
}

a#addnewbidpage{
    border: 2px solid #C0C0C0;
    border-radius: 2px;
    background: #007bff;
    min-width: 7vw;
    font-size: calc(.5vw + .5vh + .20vmin);
    font-style: italic;
    font-family: "Times New Roman";
    font-weight: bold;
    cursor: pointer;
    margin-top: 1vh;
    margin-left:20%;
    transition: 0.6s;
    text-align: center;
    overflow: hidden;
    padding:3px 5px;
    display:inline-block;
    float: left;
}
a#addnewbidpage{
    color: #000000;
}

a#addnewbidpage:hover{
    color: #a9a9a9;
    background: #003380;
    text-decoration: underline;
}

a#price{
    border: 2px solid #C0C0C0;
    border-radius: 2px;
    background:#00FF7F ;
    min-width: 7vw;
    font-size: calc(.5vw + .5vh + .20vmin);
    font-style: italic;
    font-family: "Times New Roman";
    font-weight: bold;
    cursor: pointer;
    margin-top: 1vh;
    margin-left:20%;
    transition: 0.6s;
    text-align: center;
    overflow: hidden;
    padding:3px 5px;
    display:inline-block;
    float: left;
}
a#price{
    color: #000000;
}

a#price:hover{
    color: black;
    background: #00b258 ;
    text-decoration: underline;
}

a#viewnext{
    border: 2px solid #C0C0C0;
    border-radius: 2px;
    background: #f0ad4e;
    min-width: 7vw;
    font-size: calc(.5vw + .5vh + .20vmin);
    font-style: italic;
    font-family: "Times New Roman";
    font-weight: bold;
    cursor: pointer;
    margin-top: 1vh;
    margin-left:20%;
    transition: 0.6s;
    text-align: center;
    overflow: hidden;
    padding:3px 5px;
    display:inline-block;
    float: left;
}
a#viewnext{
    color: black;
}

a#viewnext:hover{
    color: white;
    background: #90672e;
    text-decoration: underline;
}
#vntitle{
    margin-top: 0px;
    margin-bottom: 0px;
}


a#viewnext:active{
    color: black;
    background: #ba8b00;
    text-decoration: underline;
}


a#previous{
    border: 2px solid #C0C0C0;
    border-radius: 2px;
    background:#17a2b8;
    min-width: 7vw;
    font-size: calc(.5vw + .5vh + .20vmin);
    font-style: italic;
    font-family: "Times New Roman";
    font-weight: bold;
    cursor: pointer;
    margin-top: 1vh;
    margin-left:20%;
    transition: 0.6s;
    text-align: center;
    overflow: hidden;
    padding:3px 5px;
    display:inline-block;
    float: left;
}
a#previous{
    color: #000000;
}

a#previous:hover{
    color: white;
    background: #117a8b;
    text-decoration: underline;
}

#prevtitle{
    margin-top: 0px;
    margin-bottom: 0px;
}

#pricetitle{
    margin-top: 0px;
    margin-bottom: 0px;
}

#prevtitle{
    margin-top: 0px;
    margin-bottom: 0px;
}
#newtitle{
    margin-top: 0px;
    margin-bottom: 0px;
}

a#newtitle{
    border: 2px solid #C0C0C0;
    border-radius: 2px;
    background: tan;
    width: 120px;
    height: 30px;
    font-size: 18px;
    font-style: italic;
    font-family: "Times New Roman";
    font-weight: bold;
    cursor: pointer;
    float: left;
    margin-top: 470px;
    margin-right: 0px;
    margin-left:20px;
    transition: 0.6s;
    text-align: center;
    overflow: hidden;
    padding:3px 5px;
    display:inline-block;
}
a#changermnm{
    color: #000000;
}

a#changermnm:hover{
    color: white;
    background: #836953;
    text-decoration: underline;
}
input#id_price{
    height:0px;
    width:0px;
    margin-left:0px;
    margin-right:0px;
    margin-top:0px;
    float:right;
    color:#a9a9a9;
    background:#a9a9a9;
    border:none;

}



#formh2{
    width:18%;
    padding-top:0%;
    margin-left:0%;
    margin-right:0%;
    margin-bottom:0%;
    margin-top:0%;
    color:white;
    text-align:center;
    font-size: calc(1.25vw + 1.25vh + .25vmin);
    font-style: italic;
    font-family: "Times New Roman";
    text-shadow: 2px 2px 5px black;

}

#formh22{
    width:4%;
    padding-top:0%;
    margin-left:1%;
    margin-right:1%;
    margin-bottom:0%;
    margin-top:0%;
    color:white;
    text-align:center;
    font-size: calc(1.25vw + 1.25vh + .25vmin);
    font-style: italic;
    font-family: "Times New Roman";
    text-shadow: 2px 2px 5px black;
    float:right;

}

#form2{
    width:100%;
    height:86.5vh;
    background:#a9a9a9;
    border:#5a3510 3px solid;
    margin-top: 3.5em;
    margin-left:0px;
    margin-right:0px;
}

#section1{
    width:1200px;
    height:112px;
    margin-top: -45px;
    border-bottom:black 3px solid;
    background-color: #a9a9a9;

}

#bid_idA{
    width:6%;
    height:100%;
    margin-top: 0%;
    margin-left:1%;
    margin-right:0%;
}

#label_id{
    width:100%;
    height:50%;
    margin-top: 0%;
    margin-left:0%;
    margin-right:0%;
    color:black;
    font-weight: bold;
    font-size: calc(0.65vw + 0.65vh + .25vmin);
    font-style: italic;
    font-family: "Times New Roman";
    display:inline-block;
    text-align: center;
}

#id_bid_idA{
    width:100%;
    margin-top: 0%;
    margin-left:0%;
    margin-right:0%;
    color:black;
    font-weight: bold;
    font-size: calc(0.65vw + 0.65vh + .25vmin);
    font-family: "Times New Roman";
    text-align:center;
    padding-top: .5%;
    padding-bottom: .5%;
    box-sizing: border-box;
    border-radius: 0px;
    -moz-appearance: textfield;

}

#custid{
    width:6%;
    height:100%;
    margin-top: 0%;
    margin-left:1%;
    margin-right:0%;
}

#label_custid{
    width:100%;
    height:50%;
    margin-top: 0%;
    margin-left:0%;
    margin-right:0%;
    color:black;
    font-weight: bold;
    font-size: calc(0.65vw + 0.65vh + .25vmin);
    font-style: italic;
    font-family: "Times New Roman";
    display:inline-block;
    text-align: center;
}

#id_custid{
    width:100%;
    margin-top: 0%;
    margin-left:0%;
    margin-right:0%;
    color:black;
    font-weight: bold;
    font-size: calc(0.65vw + 0.65vh + .25vmin);
    font-family: "Times New Roman";
    text-align:center;
    padding-top: .5%;
    padding-bottom: .5%;
    box-sizing: border-box;
    border-radius: 0px;
    -moz-appearance: textfield;
}

#conid{
    width:6%;
    height:100%;
    margin-top: 0%;
    margin-left:1%;
    margin-right:0%;
}

#label_conid{
    width:100%;
    height:50%;
    margin-top: 0%;
    margin-left:0%;
    margin-right:0%;
    color:black;
    font-weight: bold;
    font-size: calc(0.65vw + 0.65vh + .25vmin);
    font-style: italic;
    font-family: "Times New Roman";
    display:inline-block;
    text-align: center;
}

#id_conid{
    width:100%;
    margin-top: 0%;
    margin-left:0%;
    margin-right:0%;
    color:black;
    font-weight: bold;
    font-size: calc(0.65vw + 0.65vh + .25vmin);
    font-family: "Times New Roman";
    text-align:center;
    padding-top: .5%;
    padding-bottom: .5%;
    box-sizing: border-box;
    border-radius: 0px;
    -moz-appearance: textfield;
}

#saleid{
    width:6%;
    height:100%;
    margin-top: 0%;
    margin-left:1%;
    margin-right:0%;
}

#label_sale{
    width:100%;
    height:50%;
    margin-top: 0%;
    margin-left:0%;
    margin-right:0%;
    color:black;
    font-weight: bold;
    font-size: calc(0.65vw + 0.65vh + .25vmin);
    font-style: italic;
    font-family: "Times New Roman";
    display:inline-block;
    text-align: center;
}

#id_saleid{
    width:100%;
    margin-top: 0%;
    margin-left:0%;
    margin-right:0%;
    color:black;
    font-weight: bold;
    font-size: calc(0.65vw + 0.65vh + .25vmin);
    font-family: "Times New Roman";
    text-align:center;
    padding-top: .5%;
    padding-bottom: .5%;
    box-sizing: border-box;
    border-radius: 0px;
    -moz-appearance: textfield;
}

#maxnum{
    width:3%;
    margin-top: 0%;
    margin-left:0%;
    margin-right:0%;
    padding-top:0.0%;
    float:right
}

#id_maxnum{
    width:100%;
    height: 100%;
    margin-top: 0%;
    margin-left:0%;
    margin-right:0%;
    color:white;
    font-weight: bold;
    font-size: calc(1.25vw + 1.25vh + .25vmin);
    font-style: italic;
    font-family: "Times New Roman";
    display:inline-block;
    -moz-appearance: textfield;
    text-align:left;
    background-color: transparent;
    border:none;
    text-shadow: 2px 2px 5px black;
}


#pageid{
    width: 3%;
    margin-top: 0%;
    margin-left:0%;
    margin-right:0%;
    padding-top:0.0%;
    float:right
}

#id_pageid{
    width:100%;
    height: 100%;
    margin-top: 0%;
    margin-left:0%;
    margin-right:0%;
    color:white;
    font-weight: bold;
    font-size: calc(1.25vw + 1.25vh + .25vmin);
    font-style: italic;
    font-family: "Times New Roman";
    display:inline-block;
    -moz-appearance: textfield;
    text-align:left;
    background-color: transparent;
    border:none;
    text-shadow: 2px 2px 5px black;
}

#custlastname{
    width:18%;
    margin-top: 0%;
    margin-left:0%;
    margin-right:0%;
    padding-top: 3.5vh;
}

#label_custlastname{
    width:0px;
    height:0px;
}

#id_custlastname{
    width:100%;
    margin-top: 0%;
    margin-left:0%;
    margin-right:0%;
    color:black;
    font-weight: bold;
    font-size: calc(0.65vw + 0.65vh + .25vmin);
    font-family: "Times New Roman";
    display:inline-block;
    text-align:center;
    box-sizing: border-box;
    border-radius: 0px;
}

#custadd1{
    width:21%;
    margin-top: 0%;
    margin-left:1%;
    margin-right:0%;
    padding-top: 3.5vh;
}

#label_custadd1{
    width:0px;
    height:30px;
}

#id_custadd1{
    width:100%;
    margin-top: 0%;
    margin-left:0%;
    margin-right:0%;
    color:black;
    font-weight: bold;
    font-size: calc(0.65vw + 0.65vh + .25vmin);
    font-family: "Times New Roman";
    display:inline-block;
    text-align:center;
    box-sizing: border-box;
    border-radius: 0px;
}

#room{
    width:25%;
    margin-top: 3vh;
    margin-left:2vh;
    margin-right:0%;
    padding-top: 0%;
    padding-bottom: 0.2%;
    display: flex;
}

#label_room{
    width:23%;
    margin-top: 0%;
    margin-left:0%;
    margin-right:0%;
    color:black;
    font-weight: bold;
    font-size: calc(0.65vw + 0.65vh + .25vmin);
    font-style: italic;
    font-family: "Times New Roman";
    display:inline-block;
}

select#id_room{
    width:100%;
    margin-top: 0%;
    margin-left:0%;
    margin-right:0%;
    color:black;
    font-weight: bold;
    font-size: calc(0.65vw + 0.65vh + .25vmin);
    font-family: "Times New Roman";
    display:inline-block;
    text-align:center;
    border-radius: 0px;
}
#roomadd{
    width:1vw;
    margin-left:0%;
    margin-right:0%;
    margin-top:0%;
    float:right;
}
input#id_roomadd1{
    width:20px;
    height:20px;
    font-size:10px;
    text-align:center;
    color: #a9a9a9;
    border: none;
    background-color: #a9a9a9
}

input#id_roomadd2{
    width:270px;
    height:30px;
    margin-top: 0px;
    margin-left:108px;
    margin-right:0px;
    color:black;
    font-weight: bold;
    font-size:20px;
    font-family: "Times New Roman";
    display:inline-block;
    text-align:center;

}




#section3{
    width:399px;
    height:340px;
    margin-top: 0px;
    margin-left:0px;
    margin-right:0px;
    border:black 1px solid;
    background-color:  #a9a9a9;

}

.cab1num{
    width: 100%;
    height: 3.7vh;
    margin-top: 1.5%;
    display: flex;
    box-sizing: border-box;
    justify-content: end;
}

.cab1, .cab1sides, .cab1comp1, .cab1comp2, .cab1drwer, .cab1acc1, .cab1acc2, .cab1acc3, .drwer1{
    width: 100%;
    height: 3.7vh;
    display: flex;
    box-sizing: border-box;
    justify-content: end;
}
#cab1num{
    width: 18%;
    margin-right:1.75%;
    margin-left:0%;
    text-align: right;
}

#cab1numlabel{
    width: 78%;
    margin-right:2%;
    margin-left:0%;
    text-align: right;
}

#label_cab1num{
    width: 20%;
    font-size: calc(0.65vw + 0.65vh + .25vmin);
}

#id_cab1num{
    width: 100%;
    height: 3vh;
    color: black;
    font-size: calc(0.65vw + 0.65vh + .25vmin);
    text-align:center;
    display:inline-block;
    border-radius: 0px;
}

#cab1{
    width: 18%;
    margin-right:1.75%;
    margin-left:0%;
    text-align: right;
}

#cab1label{
    width: 78%;
    margin-right:2%;
    margin-left:0%;
    text-align: right;
}

#label_cab1{
    width: 20%;
    font-size: calc(0.65vw + 0.65vh + .25vmin);
}

#id_cab1{
    width: 100%;
    height: 3vh;
    color: black;
    font-size: calc(0.65vw + 0.65vh + .25vmin);
    text-align:center;
    display:inline-block;
    border-radius: 0px;
}
#cab1sides{
    width: 18%;
    margin-right:1.75%;
    margin-left:0%;
    text-align: right;
}

#cab1sideslabel{
    width: 78%;
    margin-right:2%;
    margin-left:0%;
    text-align: right;
}
#label_cab1sides{
    width: 20%;
    font-size: calc(0.65vw + 0.65vh + .25vmin);
}

#id_cab1sides{
    width: 100%;
    height: 3vh;
    color: black;
    font-size: calc(0.65vw + 0.65vh + .25vmin);
    text-align:center;
    display:inline-block;
    border-radius: 0px;
}
#c11qty{
    width:17%;
    margin-top: 0%;
    margin-left: 1%;
    text-align:center;
    display:inline-block;

}
select#id_c11qty{
    width:87%;
    color:black;
    margin-top: 0%;
    font-size: calc(0.65vw + 0.65vh + .25vmin);
    display:inline-block;
    -moz-appearance: textfield;
    text-align:center;
    border-style: none;
    border-radius: 0px;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}
#comp11{
    width: 80%;
    margin-top:0%;
    text-align:right;
    margin-left:1%;
    margin-right:2%;
    display:inline-block;

}
#id_comp11{
    width:100%;
    text-align:right;
    margin-left:0%;
    margin-right:0%;
    color: black;
    font-size: calc(0.65vw + 0.65vh + .25vmin);
    display:inline-block;
    border-style: none;
    border-radius: 0px;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

#c12qty{
    width:17%;
    margin-top: 0%;
    margin-left: 1%;
    text-align:center;
    display:inline-block;

}
#id_c12qty{
    width:87%;
    color:black;
    margin-top: 0%;
    font-size: calc(0.65vw + 0.65vh + .25vmin);
    display:inline-block;
    -moz-appearance: textfield;
    text-align:center;
    border-style: none;
    border-radius: 0px;
    padding-top: 1.5%;
    padding-bottom: 1.5%;

}
#comp12{
    width: 80%;
    margin-top:0%;
    text-align:right;
    margin-left:1%;
    margin-right:2%;
    display:inline-block;
}
#id_comp12{
    width:100%;
    text-align:right;
    margin-left:0%;
    margin-right:0%;
    color: black;
    font-size: calc(0.65vw + 0.65vh + .25vmin);
    display:inline-block;
    border-style: none;
    border-radius: 0px;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

#drwer1{
    width: 18%;
    margin-right:1.75%;
    margin-left:0%;
    text-align: right;
}

#drwer1label{
    width: 78%;
    margin-right:2%;
    margin-left:0%;
    text-align: right;
}

#label_drwer1{
    width: 20%;
    font-size: calc(0.65vw + 0.65vh + .25vmin);
}

#id_drwer1{
    width: 100%;
    height: 3vh;
    color: black;
    font-size: calc(0.65vw + 0.65vh + .25vmin);
    text-align:center;
    display:inline-block;
    border-radius: 0px;
}
#c13qty{
    width:17%;
    margin-top: 0%;
    margin-left: 1%;
    text-align:center;
    display:inline-block;
}
select#id_c13qty{
    width:87%;
    color:black;
    margin-top: 0%;
    font-size: calc(0.65vw + 0.65vh + .25vmin);
    display:inline-block;
    -moz-appearance: textfield;
    text-align:center;
    border-style: none;
    border-radius: 0px;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}
#comp13{
    width: 80%;
    margin-top:0%;
    text-align:right;
    margin-left:1%;
    margin-right:2%;
    display:inline-block;
}
#label_comp13{
    text-align:center;
    margin-right:0%;
}
#id_comp13{
    width:100%;
    text-align:right;
    margin-left:0%;
    margin-right:0%;
    color: black;
    font-size: calc(0.65vw + 0.65vh + .25vmin);
    display:inline-block;
    border-style: none;
    border-radius: 0px;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}
#c14qty{
    width:17%;
    margin-top: 0%;
    margin-left: 1%;
    text-align:center;
    display:inline-block;
}
select#id_c14qty{
    width:87%;
    color:black;
    margin-top: 0%;
    font-size: calc(0.65vw + 0.65vh + .25vmin);
    display:inline-block;
    -moz-appearance: textfield;
    text-align:center;
    border-style: none;
    border-radius: 0px;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}
#comp14{
    width: 80%;
    margin-top:0%;
    text-align:right;
    margin-left:1%;
    margin-right:2%;
    display:inline-block;
}
#id_comp14{
    width:100%;
    text-align:right;
    margin-left:0%;
    margin-right:0%;
    color: black;
    font-size: calc(0.65vw + 0.65vh + .25vmin);
    display:inline-block;
    border-style: none;
    border-radius: 0px;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}
#c15qty{
    width:17%;
    margin-top: 0%;
    margin-left: 1%;
    text-align:center;
    display:inline-block;
}
select#id_c15qty{
    width:87%;
    color:black;
    margin-top: 0%;
    font-size: calc(0.65vw + 0.65vh + .25vmin);
    display:inline-block;
    -moz-appearance: textfield;
    text-align:center;
    border-style: none;
    border-radius: 0px;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}
#comp15{
    width: 80%;
    margin-top:0%;
    text-align:right;
    margin-left:1%;
    margin-right:2%;
    display:inline-block;
}
#id_comp15{
    width:100%;
    text-align:right;
    margin-left:0%;
    margin-right:0%;
    color: black;
    font-size: calc(0.65vw + 0.65vh + .25vmin);
    display:inline-block;
    border-style: none;
    border-radius: 0px;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

#section4{
    width:399px;
    height:340px;
    margin-top: -343px;
    margin-left:400px;
    margin-right:0px;
    border:black 1px solid;
    background-color:  #a9a9a9;

}
.cab2num{
    width: 100%;
    height: 3.7vh;
    margin-top: 1.5%;
    display: flex;
    box-sizing: border-box;
    justify-content: end;
}

.cab2, .cab2sides, .cab2comp1, .cab2comp2, .cab2drwer, .cab2acc1, .cab2acc2, .cab2acc3, .drwer2{
    width: 100%;
    height: 3.7vh;
    display: flex;
    box-sizing: border-box;
    justify-content: end;
}
#cab2num{
    width: 18%;
    margin-right:1.75%;
    margin-left:0%;
    text-align: right;
}

#cab2numlabel{
    width: 78%;
    margin-right:2%;
    margin-left:0%;
    text-align: right;
}

#label_cab2num{
    width: 20%;
    font-size: calc(0.65vw + 0.65vh + .25vmin);
}

#id_cab2num{
    width: 100%;
    height: 3vh;
    color: black;
    font-size: calc(0.65vw + 0.65vh + .25vmin);
    text-align:center;
    display:inline-block;
    border-radius: 0px;
}

#cab2{
    width: 18%;
    margin-right:1.75%;
    margin-left:0%;
    text-align: right;
}

#cab2label{
    width: 78%;
    margin-right:2%;
    margin-left:0%;
    text-align: right;
}

#label_cab2{
    width: 20%;
    font-size: calc(0.65vw + 0.65vh + .25vmin);
}

#id_cab2{
    width: 100%;
    height: 3vh;
    color: black;
    font-size: calc(0.65vw + 0.65vh + .25vmin);
    text-align:center;
    display:inline-block;
    border-radius: 0px;
}
#cab2sides{
    width: 18%;
    margin-right:1.75%;
    margin-left:0%;
    text-align: right;
}

#cab2sideslabel{
    width: 78%;
    margin-right:2%;
    margin-left:0%;
    text-align: right;
}
#label_cab2sides{
    width: 20%;
    font-size: calc(0.65vw + 0.65vh + .25vmin);
}

#id_cab2sides{
    width: 100%;
    height: 3vh;
    color: black;
    font-size: calc(0.65vw + 0.65vh + .25vmin);
    text-align:center;
    display:inline-block;
    border-radius: 0px;
}
#c21qty{
    width:17%;
    margin-top: 0%;
    margin-left: 1%;
    text-align:center;
    display:inline-block;

}
select#id_c21qty{
    width:87%;
    color:black;
    margin-top: 0%;
    font-size: calc(0.65vw + 0.65vh + .25vmin);
    display:inline-block;
    -moz-appearance: textfield;
    text-align:center;
    border-style: none;
    border-radius: 0px;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}
#comp21{
    width: 80%;
    margin-top:0%;
    text-align:right;
    margin-left:1%;
    margin-right:2%;
    display:inline-block;

}
#id_comp21{
    width:100%;
    text-align:right;
    margin-left:0%;
    margin-right:0%;
    color: black;
    font-size: calc(0.65vw + 0.65vh + .25vmin);
    display:inline-block;
    border-style: none;
    border-radius: 0px;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

#c22qty{
    width:17%;
    margin-top: 0%;
    margin-left: 1%;
    text-align:center;
    display:inline-block;

}
#id_c22qty{
    width:87%;
    color:black;
    margin-top: 0%;
    font-size: calc(0.65vw + 0.65vh + .25vmin);
    display:inline-block;
    -moz-appearance: textfield;
    text-align:center;
    border-style: none;
    border-radius: 0px;
    padding-top: 1.5%;
    padding-bottom: 1.5%;

}
#comp22{
    width: 80%;
    margin-top:0%;
    text-align:right;
    margin-left:1%;
    margin-right:2%;
    display:inline-block;
}
#id_comp22{
    width:100%;
    text-align:right;
    margin-left:0%;
    margin-right:0%;
    color: black;
    font-size: calc(0.65vw + 0.65vh + .25vmin);
    display:inline-block;
    border-style: none;
    border-radius: 0px;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

#drwer2{
    width: 18%;
    margin-right:1.75%;
    margin-left:0%;
    text-align: right;
}

#drwer2label{
    width: 78%;
    margin-right:2%;
    margin-left:0%;
    text-align: right;
}

#label_drwer2{
    width: 20%;
    font-size: calc(0.65vw + 0.65vh + .25vmin);
}

#id_drwer2{
    width: 100%;
    height: 3vh;
    color: black;
    font-size: calc(0.65vw + 0.65vh + .25vmin);
    text-align:center;
    display:inline-block;
    border-radius: 0px;
}
#c23qty{
    width:17%;
    margin-top: 0%;
    margin-left: 1%;
    text-align:center;
    display:inline-block;
}
select#id_c23qty{
    width:87%;
    color:black;
    margin-top: 0%;
    font-size: calc(0.65vw + 0.65vh + .25vmin);
    display:inline-block;
    -moz-appearance: textfield;
    text-align:center;
    border-style: none;
    border-radius: 0px;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}
#comp23{
    width: 80%;
    margin-top:0%;
    text-align:right;
    margin-left:1%;
    margin-right:2%;
    display:inline-block;
}
#label_comp23{
    text-align:center;
    margin-right:0%;
}
#id_comp23{
    width:100%;
    text-align:right;
    margin-left:0%;
    margin-right:0%;
    color: black;
    font-size: calc(0.65vw + 0.65vh + .25vmin);
    display:inline-block;
    border-style: none;
    border-radius: 0px;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}
#c24qty{
    width:17%;
    margin-top: 0%;
    margin-left: 1%;
    text-align:center;
    display:inline-block;
}
select#id_c24qty{
    width:87%;
    color:black;
    margin-top: 0%;
    font-size: calc(0.65vw + 0.65vh + .25vmin);
    display:inline-block;
    -moz-appearance: textfield;
    text-align:center;
    border-style: none;
    border-radius: 0px;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}
#comp24{
    width: 80%;
    margin-top:0%;
    text-align:right;
    margin-left:1%;
    margin-right:2%;
    display:inline-block;
}
#id_comp24{
    width:100%;
    text-align:right;
    margin-left:0%;
    margin-right:0%;
    color: black;
    font-size: calc(0.65vw + 0.65vh + .25vmin);
    display:inline-block;
    border-style: none;
    border-radius: 0px;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}
#c25qty{
    width:17%;
    margin-top: 0%;
    margin-left: 1%;
    text-align:center;
    display:inline-block;
}
select#id_c25qty{
    width:87%;
    color:black;
    margin-top: 0%;
    font-size: calc(0.65vw + 0.65vh + .25vmin);
    display:inline-block;
    -moz-appearance: textfield;
    text-align:center;
    border-style: none;
    border-radius: 0px;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}
#comp25{
    width: 80%;
    margin-top:0%;
    text-align:right;
    margin-left:1%;
    margin-right:2%;
    display:inline-block;
}
#id_comp25{
    width:100%;
    text-align:right;
    margin-left:0%;
    margin-right:0%;
    color: black;
    font-size: calc(0.65vw + 0.65vh + .25vmin);
    display:inline-block;
    border-style: none;
    border-radius: 0px;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}


#section5{
    width:399px;
    height:340px;
    margin-top: -343px;
    margin-left:0px;
    margin-right:0px;
    border:black 1px solid;
    float:right;
    background-color:  #a9a9a9;

}

.cab3num{
    width: 100%;
    height: 3.7vh;
    margin-top: 1.5%;
    display: flex;
    box-sizing: border-box;
    justify-content: end;
}

.cab3, .cab3sides, .cab3comp1, .cab3comp2, .cab3drwer, .cab3acc1, .cab3acc2, .cab3acc3, .drwer3{
    width: 100%;
    height: 3.7vh;
    display: flex;
    box-sizing: border-box;
    justify-content: end;
}
#cab3num{
    width: 18%;
    margin-right:1.75%;
    margin-left:0%;
    text-align: right;
}

#cab3numlabel{
    width: 78%;
    margin-right:2%;
    margin-left:0%;
    text-align: right;
}

#label_cab3num{
    width: 20%;
    font-size: calc(0.65vw + 0.65vh + .25vmin);
}

#id_cab3num{
    width: 100%;
    height: 3vh;
    color: black;
    font-size: calc(0.65vw + 0.65vh + .25vmin);
    text-align:center;
    display:inline-block;
    border-radius: 0px;
}

#cab3{
    width: 18%;
    margin-right:1.75%;
    margin-left:0%;
    text-align: right;
}

#cab3label{
    width: 78%;
    margin-right:2%;
    margin-left:0%;
    text-align: right;
}

#label_cab3{
    width: 20%;
    font-size: calc(0.65vw + 0.65vh + .25vmin);
}

#id_cab3{
    width: 100%;
    height: 3vh;
    color: black;
    font-size: calc(0.65vw + 0.65vh + .25vmin);
    text-align:center;
    display:inline-block;
    border-radius: 0px;
}
#cab3sides{
    width: 18%;
    margin-right:1.75%;
    margin-left:0%;
    text-align: right;
}

#cab3sideslabel{
    width: 78%;
    margin-right:2%;
    margin-left:0%;
    text-align: right;
}
#label_cab3sides{
    width: 20%;
    font-size: calc(0.65vw + 0.65vh + .25vmin);
}

#id_cab3sides{
    width: 100%;
    height: 3vh;
    color: black;
    font-size: calc(0.65vw + 0.65vh + .25vmin);
    text-align:center;
    display:inline-block;
    border-radius: 0px;
}
#c31qty{
    width:17%;
    margin-top: 0%;
    margin-left: 1%;
    text-align:center;
    display:inline-block;

}
select#id_c31qty{
    width:87%;
    color:black;
    margin-top: 0%;
    font-size: calc(0.65vw + 0.65vh + .25vmin);
    display:inline-block;
    -moz-appearance: textfield;
    text-align:center;
    border-style: none;
    border-radius: 0px;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}
#comp31{
    width: 80%;
    margin-top:0%;
    text-align:right;
    margin-left:1%;
    margin-right:2%;
    display:inline-block;

}
#id_comp31{
    width:100%;
    text-align:right;
    margin-left:0%;
    margin-right:0%;
    color: black;
    font-size: calc(0.65vw + 0.65vh + .25vmin);
    display:inline-block;
    border-style: none;
    border-radius: 0px;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

#c32qty{
    width:17%;
    margin-top: 0%;
    margin-left: 1%;
    text-align:center;
    display:inline-block;

}
#id_c32qty{
    width:87%;
    color:black;
    margin-top: 0%;
    font-size: calc(0.65vw + 0.65vh + .25vmin);
    display:inline-block;
    -moz-appearance: textfield;
    text-align:center;
    border-style: none;
    border-radius: 0px;
    padding-top: 1.5%;
    padding-bottom: 1.5%;

}
#comp32{
    width: 80%;
    margin-top:0%;
    text-align:right;
    margin-left:1%;
    margin-right:2%;
    display:inline-block;
}
#id_comp32{
    width:100%;
    text-align:right;
    margin-left:0%;
    margin-right:0%;
    color: black;
    font-size: calc(0.65vw + 0.65vh + .25vmin);
    display:inline-block;
    border-style: none;
    border-radius: 0px;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

#drwer3{
    width: 18%;
    margin-right:1.75%;
    margin-left:0%;
    text-align: right;
}

#drwer3label{
    width: 78%;
    margin-right:2%;
    margin-left:0%;
    text-align: right;
}

#label_drwer3{
    width: 20%;
    font-size: calc(0.65vw + 0.65vh + .25vmin);
}

#id_drwer3{
    width: 100%;
    height: 3vh;
    color: black;
    font-size: calc(0.65vw + 0.65vh + .25vmin);
    text-align:center;
    display:inline-block;
    border-radius: 0px;
}
#c33qty{
    width:17%;
    margin-top: 0%;
    margin-left: 1%;
    text-align:center;
    display:inline-block;
}
select#id_c33qty{
    width:87%;
    color:black;
    margin-top: 0%;
    font-size: calc(0.65vw + 0.65vh + .25vmin);
    display:inline-block;
    -moz-appearance: textfield;
    text-align:center;
    border-style: none;
    border-radius: 0px;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}
#comp33{
    width: 80%;
    margin-top:0%;
    text-align:right;
    margin-left:1%;
    margin-right:2%;
    display:inline-block;
}
#label_comp33{
    text-align:center;
    margin-right:0%;
}
#id_comp33{
    width:100%;
    text-align:right;
    margin-left:0%;
    margin-right:0%;
    color: black;
    font-size: calc(0.65vw + 0.65vh + .25vmin);
    display:inline-block;
    border-style: none;
    border-radius: 0px;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}
#c34qty{
    width:17%;
    margin-top: 0%;
    margin-left: 1%;
    text-align:center;
    display:inline-block;
}
select#id_c34qty{
    width:87%;
    color:black;
    margin-top: 0%;
    font-size: calc(0.65vw + 0.65vh + .25vmin);
    display:inline-block;
    -moz-appearance: textfield;
    text-align:center;
    border-style: none;
    border-radius: 0px;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}
#comp34{
    width: 80%;
    margin-top:0%;
    text-align:right;
    margin-left:1%;
    margin-right:2%;
    display:inline-block;
}
#id_comp34{
    width:100%;
    text-align:right;
    margin-left:0%;
    margin-right:0%;
    color: black;
    font-size: calc(0.65vw + 0.65vh + .25vmin);
    display:inline-block;
    border-style: none;
    border-radius: 0px;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}
#c35qty{
    width:17%;
    margin-top: 0%;
    margin-left: 1%;
    text-align:center;
    display:inline-block;
}
select#id_c35qty{
    width:87%;
    color:black;
    margin-top: 0%;
    font-size: calc(0.65vw + 0.65vh + .25vmin);
    display:inline-block;
    -moz-appearance: textfield;
    text-align:center;
    border-style: none;
    border-radius: 0px;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}
#comp35{
    width: 80%;
    margin-top:0%;
    text-align:right;
    margin-left:1%;
    margin-right:2%;
    display:inline-block;
}
#id_comp35{
    width:100%;
    text-align:right;
    margin-left:0%;
    margin-right:0%;
    color: black;
    font-size: calc(0.65vw + 0.65vh + .25vmin);
    display:inline-block;
    border-style: none;
    border-radius: 0px;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}


#section6{
    width:399px;
    height:340px;
    margin-top: 0px;
    margin-left:0px;
    margin-right:0px;
    border:black 1px solid;
    background-color:  #a9a9a9;
}

.cab4num{
    width: 100%;
    height: 3.7vh;
    margin-top: 1.5%;
    display: flex;
    box-sizing: border-box;
    justify-content: end;
}

.cab4, .cab4sides, .cab4comp1, .cab4comp2, .cab4drwer, .cab4acc1, .cab4acc2, .cab4acc3, .drwer4{
    width: 100%;
    height: 3.7vh;
    display: flex;
    box-sizing: border-box;
    justify-content: end;
}
#cab4num{
    width: 18%;
    margin-right:1.75%;
    margin-left:0%;
    text-align: right;
}

#cab4numlabel{
    width: 78%;
    margin-right:2%;
    margin-left:0%;
    text-align: right;
}

#label_cab4num{
    width: 20%;
    font-size: calc(0.65vw + 0.65vh + .25vmin);
}

#id_cab4num{
    width: 100%;
    height: 3vh;
    color: black;
    font-size: calc(0.65vw + 0.65vh + .25vmin);
    text-align:center;
    display:inline-block;
    border-radius: 0px;
}

#cab4{
    width: 18%;
    margin-right:1.75%;
    margin-left:0%;
    text-align: right;
}

#cab4label{
    width: 78%;
    margin-right:2%;
    margin-left:0%;
    text-align: right;
}

#label_cab4{
    width: 20%;
    font-size: calc(0.65vw + 0.65vh + .25vmin);
}

#id_cab4{
    width: 100%;
    height: 3vh;
    color: black;
    font-size: calc(0.65vw + 0.65vh + .25vmin);
    text-align:center;
    display:inline-block;
    border-radius: 0px;
}
#cab4sides{
    width: 18%;
    margin-right:1.75%;
    margin-left:0%;
    text-align: right;
}

#cab4sideslabel{
    width: 78%;
    margin-right:2%;
    margin-left:0%;
    text-align: right;
}
#label_cab4sides{
    width: 20%;
    font-size: calc(0.65vw + 0.65vh + .25vmin);
}

#id_cab4sides{
    width: 100%;
    height: 3vh;
    color: black;
    font-size: calc(0.65vw + 0.65vh + .25vmin);
    text-align:center;
    display:inline-block;
    border-radius: 0px;
}
#c41qty{
    width:17%;
    margin-top: 0%;
    margin-left: 1%;
    text-align:center;
    display:inline-block;

}
select#id_c41qty{
    width:87%;
    color:black;
    margin-top: 0%;
    font-size: calc(0.65vw + 0.65vh + .25vmin);
    display:inline-block;
    -moz-appearance: textfield;
    text-align:center;
    border-style: none;
    border-radius: 0px;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}
#comp41{
    width: 80%;
    margin-top:0%;
    text-align:right;
    margin-left:1%;
    margin-right:2%;
    display:inline-block;

}
#id_comp41{
    width:100%;
    text-align:right;
    margin-left:0%;
    margin-right:0%;
    color: black;
    font-size: calc(0.65vw + 0.65vh + .25vmin);
    display:inline-block;
    border-style: none;
    border-radius: 0px;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

#c42qty{
    width:17%;
    margin-top: 0%;
    margin-left: 1%;
    text-align:center;
    display:inline-block;

}
#id_c42qty{
    width:87%;
    color:black;
    margin-top: 0%;
    font-size: calc(0.65vw + 0.65vh + .25vmin);
    display:inline-block;
    -moz-appearance: textfield;
    text-align:center;
    border-style: none;
    border-radius: 0px;
    padding-top: 1.5%;
    padding-bottom: 1.5%;

}
#comp42{
    width: 80%;
    margin-top:0%;
    text-align:right;
    margin-left:1%;
    margin-right:2%;
    display:inline-block;
}
#id_comp42{
    width:100%;
    text-align:right;
    margin-left:0%;
    margin-right:0%;
    color: black;
    font-size: calc(0.65vw + 0.65vh + .25vmin);
    display:inline-block;
    border-style: none;
    border-radius: 0px;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

#drwer4{
    width: 18%;
    margin-right:1.75%;
    margin-left:0%;
    text-align: right;
}

#drwer4label{
    width: 78%;
    margin-right:2%;
    margin-left:0%;
    text-align: right;
}

#label_drwer4{
    width: 20%;
    font-size: calc(0.65vw + 0.65vh + .25vmin);
}

#id_drwer4{
    width: 100%;
    height: 3vh;
    color: black;
    font-size: calc(0.65vw + 0.65vh + .25vmin);
    text-align:center;
    display:inline-block;
    border-radius: 0px;
}
#c43qty{
    width:17%;
    margin-top: 0%;
    margin-left: 1%;
    text-align:center;
    display:inline-block;
}
select#id_c43qty{
    width:87%;
    color:black;
    margin-top: 0%;
    font-size: calc(0.65vw + 0.65vh + .25vmin);
    display:inline-block;
    -moz-appearance: textfield;
    text-align:center;
    border-style: none;
    border-radius: 0px;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}
#comp43{
    width: 80%;
    margin-top:0%;
    text-align:right;
    margin-left:1%;
    margin-right:2%;
    display:inline-block;
}
#label_comp43{
    text-align:center;
    margin-right:0%;
}
#id_comp43{
    width:100%;
    text-align:right;
    margin-left:0%;
    margin-right:0%;
    color: black;
    font-size: calc(0.65vw + 0.65vh + .25vmin);
    display:inline-block;
    border-style: none;
    border-radius: 0px;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}
#c44qty{
    width:17%;
    margin-top: 0%;
    margin-left: 1%;
    text-align:center;
    display:inline-block;
}
select#id_c44qty{
    width:87%;
    color:black;
    margin-top: 0%;
    font-size: calc(0.65vw + 0.65vh + .25vmin);
    display:inline-block;
    -moz-appearance: textfield;
    text-align:center;
    border-style: none;
    border-radius: 0px;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}
#comp44{
    width: 80%;
    margin-top:0%;
    text-align:right;
    margin-left:1%;
    margin-right:2%;
    display:inline-block;
}
#id_comp44{
    width:100%;
    text-align:right;
    margin-left:0%;
    margin-right:0%;
    color: black;
    font-size: calc(0.65vw + 0.65vh + .25vmin);
    display:inline-block;
    border-style: none;
    border-radius: 0px;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}
#c45qty{
    width:17%;
    margin-top: 0%;
    margin-left: 1%;
    text-align:center;
    display:inline-block;
}
select#id_c45qty{
    width:87%;
    color:black;
    margin-top: 0%;
    font-size: calc(0.65vw + 0.65vh + .25vmin);
    display:inline-block;
    -moz-appearance: textfield;
    text-align:center;
    border-style: none;
    border-radius: 0px;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}
#comp45{
    width: 80%;
    margin-top:0%;
    text-align:right;
    margin-left:1%;
    margin-right:2%;
    display:inline-block;
}
#id_comp45{
    width:100%;
    text-align:right;
    margin-left:0%;
    margin-right:0%;
    color: black;
    font-size: calc(0.65vw + 0.65vh + .25vmin);
    display:inline-block;
    border-style: none;
    border-radius: 0px;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}


#section7{
    width:399px;
    height:340px;
    margin-top: -343px;
    margin-left:400px;
    margin-right:0px;
    border:black 1px solid;
    background-color: #a9a9a9;

}
.cab5num{
    width: 100%;
    height: 3.7vh;
    margin-top: 1.5%;
    display: flex;
    box-sizing: border-box;
    justify-content: end;
}

.cab5, .cab5sides, .cab5comp1, .cab5comp2, .cab5drwer, .cab5acc1, .cab5acc2, .cab5acc3, .drwer5{
    width: 100%;
    height: 3.7vh;
    display: flex;
    box-sizing: border-box;
    justify-content: end;
}
#cab5num{
    width: 18%;
    margin-right:1.75%;
    margin-left:0%;
    text-align: right;
}

#cab5numlabel{
    width: 78%;
    margin-right:2%;
    margin-left:0%;
    text-align: right;
}

#label_cab5num{
    width: 20%;
    font-size: calc(0.65vw + 0.65vh + .25vmin);
}

#id_cab5num{
    width: 100%;
    height: 3vh;
    color: black;
    font-size: calc(0.65vw + 0.65vh + .25vmin);
    text-align:center;
    display:inline-block;
    border-radius: 0px;
}

#cab5{
    width: 18%;
    margin-right:1.75%;
    margin-left:0%;
    text-align: right;
}

#cab5label{
    width: 78%;
    margin-right:2%;
    margin-left:0%;
    text-align: right;
}

#label_cab5{
    width: 20%;
    font-size: calc(0.65vw + 0.65vh + .25vmin);
}

#id_cab5{
    width: 100%;
    height: 3vh;
    color: black;
    font-size: calc(0.65vw + 0.65vh + .25vmin);
    text-align:center;
    display:inline-block;
    border-radius: 0px;
}
#cab5sides{
    width: 18%;
    margin-right:1.75%;
    margin-left:0%;
    text-align: right;
}

#cab5sideslabel{
    width: 78%;
    margin-right:2%;
    margin-left:0%;
    text-align: right;
}
#label_cab5sides{
    width: 20%;
    font-size: calc(0.65vw + 0.65vh + .25vmin);
}

#id_cab5sides{
    width: 100%;
    height: 3vh;
    color: black;
    font-size: calc(0.65vw + 0.65vh + .25vmin);
    text-align:center;
    display:inline-block;
    border-radius: 0px;
}
#c51qty{
    width:17%;
    margin-top: 0%;
    margin-left: 1%;
    text-align:center;
    display:inline-block;

}
select#id_c51qty{
    width:87%;
    color:black;
    margin-top: 0%;
    font-size: calc(0.65vw + 0.65vh + .25vmin);
    display:inline-block;
    -moz-appearance: textfield;
    text-align:center;
    border-style: none;
    border-radius: 0px;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}
#comp51{
    width: 80%;
    margin-top:0%;
    text-align:right;
    margin-left:1%;
    margin-right:2%;
    display:inline-block;

}
#id_comp51{
    width:100%;
    text-align:right;
    margin-left:0%;
    margin-right:0%;
    color: black;
    font-size: calc(0.65vw + 0.65vh + .25vmin);
    display:inline-block;
    border-style: none;
    border-radius: 0px;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

#c52qty{
    width:17%;
    margin-top: 0%;
    margin-left: 1%;
    text-align:center;
    display:inline-block;

}
#id_c52qty{
    width:87%;
    color:black;
    margin-top: 0%;
    font-size: calc(0.65vw + 0.65vh + .25vmin);
    display:inline-block;
    -moz-appearance: textfield;
    text-align:center;
    border-style: none;
    border-radius: 0px;
    padding-top: 1.5%;
    padding-bottom: 1.5%;

}
#comp52{
    width: 80%;
    margin-top:0%;
    text-align:right;
    margin-left:1%;
    margin-right:2%;
    display:inline-block;
}
#id_comp52{
    width:100%;
    text-align:right;
    margin-left:0%;
    margin-right:0%;
    color: black;
    font-size: calc(0.65vw + 0.65vh + .25vmin);
    display:inline-block;
    border-style: none;
    border-radius: 0px;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

#drwer5{
    width: 18%;
    margin-right:1.75%;
    margin-left:0%;
    text-align: right;
}

#drwer5label{
    width: 78%;
    margin-right:2%;
    margin-left:0%;
    text-align: right;
}

#label_drwer5{
    width: 20%;
    font-size: calc(0.65vw + 0.65vh + .25vmin);
}

#id_drwer5{
    width: 100%;
    height: 3vh;
    color: black;
    font-size: calc(0.65vw + 0.65vh + .25vmin);
    text-align:center;
    display:inline-block;
    border-radius: 0px;
}
#c53qty{
    width:17%;
    margin-top: 0%;
    margin-left: 1%;
    text-align:center;
    display:inline-block;
}
select#id_c53qty{
    width:87%;
    color:black;
    margin-top: 0%;
    font-size: calc(0.65vw + 0.65vh + .25vmin);
    display:inline-block;
    -moz-appearance: textfield;
    text-align:center;
    border-style: none;
    border-radius: 0px;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}
#comp53{
    width: 80%;
    margin-top:0%;
    text-align:right;
    margin-left:1%;
    margin-right:2%;
    display:inline-block;
}
#label_comp53{
    text-align:center;
    margin-right:0%;
}
#id_comp53{
    width:100%;
    text-align:right;
    margin-left:0%;
    margin-right:0%;
    color: black;
    font-size: calc(0.65vw + 0.65vh + .25vmin);
    display:inline-block;
    border-style: none;
    border-radius: 0px;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}
#c54qty{
    width:17%;
    margin-top: 0%;
    margin-left: 1%;
    text-align:center;
    display:inline-block;
}
select#id_c54qty{
    width:87%;
    color:black;
    margin-top: 0%;
    font-size: calc(0.65vw + 0.65vh + .25vmin);
    display:inline-block;
    -moz-appearance: textfield;
    text-align:center;
    border-style: none;
    border-radius: 0px;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}
#comp54{
    width: 80%;
    margin-top:0%;
    text-align:right;
    margin-left:1%;
    margin-right:2%;
    display:inline-block;
}
#id_comp54{
    width:100%;
    text-align:right;
    margin-left:0%;
    margin-right:0%;
    color: black;
    font-size: calc(0.65vw + 0.65vh + .25vmin);
    display:inline-block;
    border-style: none;
    border-radius: 0px;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}
#c55qty{
    width:17%;
    margin-top: 0%;
    margin-left: 1%;
    text-align:center;
    display:inline-block;
}
select#id_c55qty{
    width:87%;
    color:black;
    margin-top: 0%;
    font-size: calc(0.65vw + 0.65vh + .25vmin);
    display:inline-block;
    -moz-appearance: textfield;
    text-align:center;
    border-style: none;
    border-radius: 0px;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}
#comp55{
    width: 80%;
    margin-top:0%;
    text-align:right;
    margin-left:1%;
    margin-right:2%;
    display:inline-block;
}
#id_comp55{
    width:100%;
    text-align:right;
    margin-left:0%;
    margin-right:0%;
    color: black;
    font-size: calc(0.65vw + 0.65vh + .25vmin);
    display:inline-block;
    border-style: none;
    border-radius: 0px;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}


#section8{
    width:399px;
    height:340px;
    margin-top: -343px;
    margin-left:0px;
    margin-right:0px;
    border:black 1px solid;
    float:right;
    background-color:#a9a9a9;

}
.cab6num{
    width: 100%;
    height: 3.7vh;
    margin-top: 1.5%;
    display: flex;
    box-sizing: border-box;
    justify-content: end;
}

.cab6, .cab6sides, .cab6comp1, .cab6comp2, .cab6drwer, .cab6acc1, .cab6acc2, .cab6acc3, .drwer6{
    width: 100%;
    height: 3.7vh;
    display: flex;
    box-sizing: border-box;
    justify-content: end;
}
#cab6num{
    width: 18%;
    margin-right:1.75%;
    margin-left:0%;
    text-align: right;
}

#cab6numlabel{
    width: 78%;
    margin-right:2%;
    margin-left:0%;
    text-align: right;
}

#label_cab6num{
    width: 20%;
    font-size: calc(0.65vw + 0.65vh + .25vmin);
}

#id_cab6num{
    width: 100%;
    height: 3vh;
    color: black;
    font-size: calc(0.65vw + 0.65vh + .25vmin);
    text-align:center;
    display:inline-block;
    border-radius: 0px;
}

#cab6{
    width: 18%;
    margin-right:1.75%;
    margin-left:0%;
    text-align: right;
}

#cab6label{
    width: 78%;
    margin-right:2%;
    margin-left:0%;
    text-align: right;
}

#label_cab6{
    width: 20%;
    font-size: calc(0.65vw + 0.65vh + .25vmin);
}

#id_cab6{
    width: 100%;
    height: 3vh;
    color: black;
    font-size: calc(0.65vw + 0.65vh + .25vmin);
    text-align:center;
    display:inline-block;
    border-radius: 0px;
}
#cab6sides{
    width: 18%;
    margin-right:1.75%;
    margin-left:0%;
    text-align: right;
}

#cab6sideslabel{
    width: 78%;
    margin-right:2%;
    margin-left:0%;
    text-align: right;
}
#label_cab6sides{
    width: 20%;
    font-size: calc(0.65vw + 0.65vh + .25vmin);
}

#id_cab6sides{
    width: 100%;
    height: 3vh;
    color: black;
    font-size: calc(0.65vw + 0.65vh + .25vmin);
    text-align:center;
    display:inline-block;
    border-radius: 0px;
}
#c61qty{
    width:17%;
    margin-top: 0%;
    margin-left: 1%;
    text-align:center;
    display:inline-block;

}
select#id_c61qty{
    width:87%;
    color:black;
    margin-top: 0%;
    font-size: calc(0.65vw + 0.65vh + .25vmin);
    display:inline-block;
    -moz-appearance: textfield;
    text-align:center;
    border-style: none;
    border-radius: 0px;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}
#comp61{
    width: 80%;
    margin-top:0%;
    text-align:right;
    margin-left:1%;
    margin-right:2%;
    display:inline-block;

}
#id_comp61{
    width:100%;
    text-align:right;
    margin-left:0%;
    margin-right:0%;
    color: black;
    font-size: calc(0.65vw + 0.65vh + .25vmin);
    display:inline-block;
    border-style: none;
    border-radius: 0px;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

#c62qty{
    width:17%;
    margin-top: 0%;
    margin-left: 1%;
    text-align:center;
    display:inline-block;

}
#id_c62qty{
    width:87%;
    color:black;
    margin-top: 0%;
    font-size: calc(0.65vw + 0.65vh + .25vmin);
    display:inline-block;
    -moz-appearance: textfield;
    text-align:center;
    border-style: none;
    border-radius: 0px;
    padding-top: 1.5%;
    padding-bottom: 1.5%;

}
#comp62{
    width: 80%;
    margin-top:0%;
    text-align:right;
    margin-left:1%;
    margin-right:2%;
    display:inline-block;
}
#id_comp62{
    width:100%;
    text-align:right;
    margin-left:0%;
    margin-right:0%;
    color: black;
    font-size: calc(0.65vw + 0.65vh + .25vmin);
    display:inline-block;
    border-style: none;
    border-radius: 0px;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

#drwer6{
    width: 18%;
    margin-right:1.75%;
    margin-left:0%;
    text-align: right;
}

#drwer6label{
    width: 78%;
    margin-right:2%;
    margin-left:0%;
    text-align: right;
}

#label_drwer6{
    width: 20%;
    font-size: calc(0.65vw + 0.65vh + .25vmin);
}

#id_drwer6{
    width: 100%;
    height: 3vh;
    color: black;
    font-size: calc(0.65vw + 0.65vh + .25vmin);
    text-align:center;
    display:inline-block;
    border-radius: 0px;
}
#c63qty{
    width:17%;
    margin-top: 0%;
    margin-left: 1%;
    text-align:center;
    display:inline-block;
}
select#id_c63qty{
    width:87%;
    color:black;
    margin-top: 0%;
    font-size: calc(0.65vw + 0.65vh + .25vmin);
    display:inline-block;
    -moz-appearance: textfield;
    text-align:center;
    border-style: none;
    border-radius: 0px;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}
#comp63{
    width: 80%;
    margin-top:0%;
    text-align:right;
    margin-left:1%;
    margin-right:2%;
    display:inline-block;
}
#label_comp63{
    text-align:center;
    margin-right:0%;
}
#id_comp63{
    width:100%;
    text-align:right;
    margin-left:0%;
    margin-right:0%;
    color: black;
    font-size: calc(0.65vw + 0.65vh + .25vmin);
    display:inline-block;
    border-style: none;
    border-radius: 0px;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}
#c64qty{
    width:17%;
    margin-top: 0%;
    margin-left: 1%;
    text-align:center;
    display:inline-block;
}
select#id_c64qty{
    width:87%;
    color:black;
    margin-top: 0%;
    font-size: calc(0.65vw + 0.65vh + .25vmin);
    display:inline-block;
    -moz-appearance: textfield;
    text-align:center;
    border-style: none;
    border-radius: 0px;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}
#comp64{
    width: 80%;
    margin-top:0%;
    text-align:right;
    margin-left:1%;
    margin-right:2%;
    display:inline-block;
}
#id_comp64{
    width:100%;
    text-align:right;
    margin-left:0%;
    margin-right:0%;
    color: black;
    font-size: calc(0.65vw + 0.65vh + .25vmin);
    display:inline-block;
    border-style: none;
    border-radius: 0px;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}
#c65qty{
    width:17%;
    margin-top: 0%;
    margin-left: 1%;
    text-align:center;
    display:inline-block;
}
select#id_c65qty{
    width:87%;
    color:black;
    margin-top: 0%;
    font-size: calc(0.65vw + 0.65vh + .25vmin);
    display:inline-block;
    -moz-appearance: textfield;
    text-align:center;
    border-style: none;
    border-radius: 0px;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}
#comp65{
    width: 80%;
    margin-top:0%;
    text-align:right;
    margin-left:1%;
    margin-right:2%;
    display:inline-block;
}
#id_comp65{
    width:100%;
    text-align:right;
    margin-left:0%;
    margin-right:0%;
    color: black;
    font-size: calc(0.65vw + 0.65vh + .25vmin);
    display:inline-block;
    border-style: none;
    border-radius: 0px;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

.rm-modal{
    width:100%;
    height:100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top:0;
    display:flex;
    justify-content: center;
    align-items: center;

}

.modal-content{
    width:500px;
    height:300px;
    margin-left:0px;
    margin-right:0px;
    background-color:white;
    border-radius:10px;
}

#modaltitle{
    height:50px;
    width:400px;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    font-size: 24px;
    font-style: italic;
    font-family: "Times New Roman";
    font-weight: bold;
    padding-top:50px;
}

.button1{
    border: 2px solid #C0C0C0;
    border-radius: 2px;
    background: #007bff;
    width: 120px;
    height: 30px;
    font-size: 18px;
    font-style: italic;
    font-family: "Times New Roman";
    font-weight: bold;
    cursor: pointer;
    float: left;
    margin-top: 60px;
    margin-top: 70px;
    margin-right: 0px;
    margin-left:100px;
    transition: 0.6s;
    text-align: center;
    overflow: hidden;
    padding:3px 5px;
    display:inline-block;
}
.button1{
    color: #000000;
}

.button1:hover{
    color: #a9a9a9;
    background: #003380;
    text-decoration: underline;
}

.button2{
    border: 2px solid #C0C0C0;
    border-radius: 2px;
    background: #007bff;
    width: 120px;
    height: 30px;
    font-size: 18px;
    font-style: italic;
    font-family: "Times New Roman";
    font-weight: bold;
    cursor: pointer;
    float: right;
    margin-top: 60px;
    margin-top: 70px;
    margin-right: 100px;
    margin-left:0px;
    transition: 0.6s;
    text-align: center;
    overflow: hidden;
    padding:3px 5px;
    display:inline-block;
}
.button2{
    color: #000000;
}

.button2:hover{
    color: #a9a9a9;
    background: #003380;
    text-decoration: underline;
}


.add-rm, .rmdup{
    width:100%;
    height:100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top:0;
    display:flex;
    justify-content: center;
    align-items: center;

}

.modal-content{
    width:500px;
    height:300px;
    margin-left:0px;
    margin-right:0px;
    background-color:#a9a9a9;
    border-radius:10px;
}

.modal-content3{
    width:500px;
    height:300px;
    margin-left:0px;
    margin-right:0px;
    background-color:red;
    border-radius:10px;
}

#add-rm-title, #formh3, #formh4{
    height:50px;
    width:400px;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    font-size: 24px;
    font-style: italic;
    font-family: "Times New Roman";
    font-weight: bold;
    padding-top:30px;
}

#formh3{
    height:50px;
    width:400px;
    margin-left:auto;
    margin-right:auto;
    color:#C0C0C0;
    text-align:center;
    font-size: 36px;
    font-style: italic;
    font-family: "Times New Roman";
    font-weight: bold;
    padding-top:30px;
    text-shadow: 2px 2px 2px black;
}

#formh4{
    height:50px;
    width:400px;
    margin-left:auto;
    margin-right:auto;
    color:#C0C0C0;
    text-align:center;
    font-size: 24px;
    font-style: italic;
    font-family: "Times New Roman";
    padding-top:0px;
    text-shadow: 2px 2px 2px black;
}

.accept{
    border: 2px solid #C0C0C0;
    border-radius: 2px;
    background:#a9a9a9;
    width: 120px;
    height: 30px;
    font-size: 18px;
    font-style: italic;
    font-family: "Times New Roman";
    font-weight: bold;
    cursor: pointer;
    float: left;
    margin-top: 40px;
    margin-right: 0px;
    margin-left:100px;
    transition: 0.6s;
    text-align: center;
    overflow: hidden;
    padding:3px 5px;
    display:inline-block;
}
.accept{
    color: #000000;
}

.accept:hover{
    color: #a9a9a9;
    background: #003380;
    text-decoration: underline;
}
.return{
    border: 2px solid #C0C0C0;
    border-radius: 2px;
    background:#a9a9a9;
    width: 120px;
    height: 30px;
    font-size: 18px;
    font-style: italic;
    font-family: "Times New Roman";
    font-weight: bold;
    cursor: pointer;
    float: left;
    margin-top: 40px;
    margin-right: 0px;
    margin-left:186px;
    transition: 0.6s;
    text-align: center;
    overflow: hidden;
    padding:3px 5px;
    display:inline-block;
}
.return{
    color: #000000;
}

.return:hover{
    color: white;
    background: grey;
    text-decoration: underline;
}
.cancel{
    border: 2px solid #C0C0C0;
    border-radius: 2px;
    background:#a9a9a9;
    width: 120px;
    height: 30px;
    font-size: 18px;
    font-style: italic;
    font-family: "Times New Roman";
    font-weight: bold;
    cursor: pointer;
    float: right;
    margin-top: 40px;
    margin-right: 100px;
    margin-left:0px;
    transition: 0.6s;
    text-align: center;
    overflow: hidden;
    padding:3px 5px;
    display:inline-block;
}
.cancel{
    color: #000000;
}

.cancel:hover{
    color: #a9a9a9;
    background: #003380;
    text-decoration: underline;
}
body{
    display:block !important
}

