body{
  font: 16px/1.5 Arial, Helvetica,sans-serif;
  padding:0;
  margin:0;


}

section#workarea1{
    width:1500px;
    height:770px;
    margin-left:auto;
    margin-right:auto;
}

a#back{
    border: 2px solid #C0C0C0;
    border-radius: 2px;
    background: white;
    width: 120px;
    height: 30px;
    font-size: 18px;
    font-style: italic;
    font-family: "Times New Roman";
    font-weight: bold;
    cursor: pointer;
    float: right;
    margin-top: -5px;
    margin-right: 0px;
    transition: 0.6s;
   text-align: center;
    overflow: hidden;
    padding:3px 5px;
}
a#back{
    color: #000000;
}

a#back:hover{
    color: white;
    background: #5a3510;
    text-decoration: underline;
}

#formh2{
    height:46px;
    width:400px;
    padding-top:0px;
    margin-left:0px;
    margin-right:0px;
    margin-bottom:0px;
    margin-top:0px;
    color:white;
    text-align:center;
    font-size:32px;
    font-style: italic;
    font-family: "Times New Roman";
    text-shadow: 2px 2px 5px black;

}


#formh3{
    height:46px;
    width:760px;
    padding-top:0px;
    margin-left:0px;
    margin-right:0px;
    margin-bottom:0px;
    margin-top:-47px;
    color:white;
    text-align:center;
    font-size:32px;
    font-style: italic;
    font-family: "Times New Roman";
    text-shadow: 2px 2px 5px black;
    float:right;

}


label{
    height:33px;
    width:143px;
    padding-top:0px;
    margin-left:10px;
    margin-right:5px;
    color:black;
    font-weight: bold;
    text-align:right;
    font-size:20px;
    font-style: italic;
    font-family: "Times New Roman";
    float:left;
    display:inline-block;
}

span.phone-field-ext{
    display:none;
}

li::marker{
    display:none;
}

#section2{
    width:1200px;
    height:708px;
    margin-top:50px;
    margin-left:auto;
    margin-right:auto;

}



#form2{
    width:400px;
    height:708px;
    background:#a9a9a9;
    border:#5a3510 3px solid;
    margin-top: 0px;
    margin-left:0px;
    margin-right:0px;
    float:left;
}

#form3{
    width:758px;
    height:542px;
    background:#a9a9a9;
    border:#5a3510 3px solid;
    margin-top: -10px;
    margin-left:0px;
    margin-right:0px;
    float:right;
}


p{
    margin-top:0px;
    margin-bottom:0px;
}


div#idA{
    height:38px;
    width:165px;
    margin-top:14px;
}

label#label_idA{
    height:33px;
    width:77px;
    padding-top:0px;
    margin-left:10px;
    margin-right:5px;
    color:black;
    font-weight: bold;
    text-align:right;
    font-size:20px;
    font-style: italic;
    font-family: "Times New Roman";
    float:left;
    display:inline-block;
}

input#id_idA {
    padding-left:10px;
    width:50px;
    height:22px;
    font-size:18px;
    font-family: Yu Gothic UI;
    text-align:center;
    margin-right:4px;
    margin-bottom:10px;
   -moz-appearance: textfield;
}

div#conid{
    height:38px;
    width:165px;
    margin-top:-40px;
    margin-left:210px;
}

label#label_conid{
    height:33px;
    width:77px;
    padding-top:0px;
    margin-left:10px;
    margin-right:5px;
    color:black;
    font-weight: bold;
    text-align:right;
    font-size:20px;
    font-style: italic;
    font-family: "Times New Roman";
    float:left;
    display:inline-block;
}

input#id_conid {
    padding-left:10px;
    width:50px;
    height:22px;
    font-size:18px;
    font-family: Yu Gothic UI;
    text-align:center;
    margin-right:0px;
    margin-bottom:10px;
   -moz-appearance: textfield;
}

input#id_custcompanytname {
    width:200px;
    height:22px;
    font-size:18px;
    font-family: Yu Gothic UI;
    margin-bottom:10px;
    padding-left:8px;
}

input#id_custfirstname {
    width:160px;
    height:22px;
    font-size:18px;
    font-family: Yu Gothic UI;
    margin-right:4px;
    margin-bottom:10px;
    padding-left:8px;
}

input#id_custlastname {
    width:160px;
    height:22px;
    font-size:18px;
    font-family: Yu Gothic UI;
    padding-left:8px;
    margin-bottom:10px;
    margin-right:4px;
}

input#id_custadd1 {
    width:194px;
    height:22px;
    font-size:18px;
    font-family: Yu Gothic UI;
    margin-right:0px;
    margin-bottom:10px;
    padding-left:8px;
}

input#id_custadd2 {
    width:194px;
    height:22px;
    font-size:18px;
    font-family: Yu Gothic UI;
    margin-bottom:10px;
    margin-right:0px;
    padding-left:8px;
}

input#id_custcity {
    width:194px;
    height:22px;
    font-size:18px;
    font-family: Yu Gothic UI;
    margin-right:0px;
    margin-bottom:10px;
    padding-left:8px;
}

input#id_custst {
    padding-left:10px;
    width:24px;
    height:22px;
    font-size:18px;
    font-family: Yu Gothic UI;
    margin-right:175px;
    margin-bottom:10px;
}

input#id_custzipcode {
    width:57px;
    height:22px;
    font-size:18px;
    font-family: Yu Gothic UI;
    margin-right:46px;
    margin-bottom:10px;
    padding-left:8px;
}

input#id_custwork1_1{
    display:none;
}

input#id_custwork2_1 {
   display:none;
}

input#id_custcell1_1 {
    display:none;
}
input#id_custcell2_1 {
    display:none;
}
input#id_custhome_1 {
    display:none;
}

input#id_custwork1_0{
    width:132px;
    height:22px;
    font-size:18px;
    font-family: Yu Gothic UI;
    padding-left:8px;
    margin-bottom:10px;
    margin-right:60px;
}

input#id_custwork2_0{
    width:132px;
    height:22px;
    font-size:18px;
    font-family: Yu Gothic UI;
    margin-right:60px;
    margin-bottom:10px;
    padding-left:8px;
}

input#id_custcell1_0{
    width:132px;
    height:22px;
    font-size:18px;
    font-family: Yu Gothic UI;
    padding-left:8px;
    margin-bottom:10px;
    margin-right:60px;
}

input#id_custcell2_0{
    width:132px;
    height:22px;
    font-size:18px;
    font-family: Yu Gothic UI;
    margin-right:60px;
    margin-bottom:10px;
    padding-left:8px;
}

input#id_custhome_0 {
    width:132px;
    height:22px;
    font-size:18px;
    font-family: Yu Gothic UI;
    padding-left:8px;
    margin-bottom:10px;
    margin-right:60px;
}

input#id_custemail1{
    width:219px;
    height:22px;
    font-size:18px;
    font-family: Yu Gothic UI;
    margin-bottom:10px;
    margin-right:0px;
}

input#id_custemail2{
    width:219px;
    height:22px;
    font-size:18px;
    font-family: Yu Gothic UI;
    margin-right:0px;
}

button#btn1.btn-success{
    border: 2px solid #C0C0C0;
    border-radius: 2px;
    background: #b08f26;
    width: 190px;
    height: 42px;
    font-size: 14px;
    color: black;
    font-style: italic;
    font-family: "Times New Roman";
    font-weight:bold;
    cursor: pointer;
    margin-top: 40px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 3px;
    transition: 0.6s;
    position: relative;
    overflow: hidden;

}
button#btn1.btn-success{
    color: #000000;
}

button#btn1.btn-success:hover{
    color: white;
    background: #5a3510;
}


div#button1{
    height:60px;
    width:850px;
    margin-left:auto;
    margin-right:auto;
    display: inline-block;
    text-align:center;
}

a#btn1.btn.btn9{
    border: 2px solid #C0C0C0;
    border-radius: 2px;
    background: #b08f26;
    width: 180px;
    height: 34px;
    font-size: 16px;
    color: black;
    font-style: italic;
    font-family: "Times New Roman";
    font-weight:bold;
    cursor: pointer;
    margin-top: 40px;
    margin-left:0px;
    margin-right:0px;
    margin-bottom: 3px;
    padding-top:7px;
    transition: 0.6s;
    position: relative;
    text-decoration: none;
    display: inline-block;
    text-align:center;

}


a#btn1.btn.btn9:hover{
    color: white;
    background: #8c721e;
}

a#btn2.btn.btn9{
    border: 2px solid #C0C0C0;
    border-radius: 2px;
    background: red;
    width: 180px;
    height: 34px;
    font-size: 16px;
    color: black;
    font-style: italic;
    font-family: "Times New Roman";
    font-weight:bold;
    cursor: pointer;
    margin-top: 40px;
    margin-left:0px;
    margin-right:0px;
    margin-bottom: 3px;
    padding-top:7px;
    transition: 0.6s;
    position: relative;
    text-decoration: none;
    display: inline-block;
    text-align:center;

}

a#btn2.btn.btn9:hover{
    color: white;
    background: #b20000;
}

div#but1{
    height:50px;
    width:760px;
    margin-top:20px;
    margin-left:31px;
    display: inline-block;
    text-align:center;
}

div#but2{
    height:50px;
    width:400px;
    margin-top:-10px;
    margin-left:0px;
    display: inline-block;
    text-align:center;
}


a#btn.btn.btn9{
    border: 2px solid #C0C0C0;
    border-radius: 2px;
    background: #b08f26;
    width: 760px;
    height: 42px;
    font-size: 28px;
    color: black;
    font-style: italic;
    font-family: "Times New Roman";
    font-weight:bold;
    cursor: pointer;
    margin-top: 0px;
    margin-left:0px;
    margin-right:0px;
    margin-bottom: 3px;
    transition: 0.6s;
    position: relative;
    text-decoration: none;
    display: inline-block;
    text-align:center;

}

a#btn.btn.btn9:hover{
    color: white;
    background: #8c721e;
}

h1#formh3{
    text-align:center;
    margin-bottom:10px;
    color:whitw;
    font-weight:bold;
}
#col1.fieldWrapper{
    height:100px;
    width:950px;
   margin-left:500px;

}

#label_id{
    width:100px;
    text-align:center;
    color:#e8491d;
    padding-bottom:10px;
}

section#sec1, section#sec3, section#sec5, section#sec7, section#sec9, section#sec11, section#sec13{
    width:758px;
    height:39px;
    margin-left:0px;
    background: #787878;
}

section#sec2, section#sec4, section#sec6, section#sec8, section#sec10, section#sec12{
    width:758px;
    height:39px;
    margin-left:0px;
    background:#a9a9a9;
}

div#menu2 {
    float:left;
    height:33px;
    width:1226px;
    margin-left:0px;
    display:inline;

}

div#A{
    width:47px;
    height:30px;
    margin-left:2px;
    margin-top:2px;
    text-align:center;
    color:#a9a9a9;
    background-color: #505050;
    font-weight:bold;
    padding-top:0px;
    border-right: 2px solid #c0c0c0;
    border-bottom: 2px solid #c0c0c0;
    font-style: italic;
    font-family: "Times New Roman";
}

div#B{
    width:274px;
    height:30px;
    text-align:center;
    margin-left:50px;
    margin-top:-50px;
    color:#a9a9a9;
    background-color: #505050;
    font-weight:bold;
    padding-top:8px;
    border-right: 2px solid #c0c0c0;
    border-bottom: 2px solid #c0c0c0
}

div#C{
    width:285px;
    height:30px;
    text-align:center;
    margin-left:52px;
    margin-top:-32px;
    color:#a9a9a9;
    background-color: #505050;
    font-weight:bold;
    padding-top:0px;
    border-right: 2px solid #c0c0c0;
    border-bottom: 2px solid #c0c0c0;
    font-style: italic;
    font-family: "Times New Roman";
}

div#D{
    width:140px;
    height:30px;
    text-align:center;
    margin-left:339px;
    margin-top:-32px;
    color:#a9a9a9;
    background-color: #505050;
    font-weight:bold;
    padding-top:0px;
    border-right: 2px solid #c0c0c0;
    border-bottom: 2px solid #c0c0c0;
    font-style: italic;
    font-family: "Times New Roman";
}

div#E{
    width:140px;
    height:30px;
    text-align:center;
    margin-left:482px;
    margin-top:-32px;
    color:#a9a9a9;
    background-color: #505050;
    font-weight:bold;
    padding-top:0px;
    border-right: 2px solid #c0c0c0;
    border-bottom: 2px solid #c0c0c0;
    font-style: italic;
    font-family: "Times New Roman";
}

div#F{
    width:130px;
    height:30px;
    text-align:center;
    margin-left:625px;
    margin-top:-32px;
    color:#a9a9a9;
    background-color: #505050;
    font-weight:bold;
    padding-top:0px;
    border-right: 2px solid #c0c0c0;
    border-bottom: 2px solid #c0c0c0;
    font-style: italic;
    font-family: "Times New Roman";
}

div#H{
    width:50px;
    height:30px;
    text-align:center;
    margin-left:707px;
    margin-top:-32px;
    color:#a9a9a9;
    background-color: #505050;
    font-weight:bold;
    padding-top:0px;
    border-right: 2px solid #c0c0c0;
    border-bottom: 2px solid #c0c0c0;
    font-style: italic;
    font-family: "Times New Roman";
}

div#I{
    width:150px;
    height:30px;
    text-align:center;
    margin-left:1079px;
    margin-top:-50px;
    color:#a9a9a9;
    background-color: #505050;
    font-weight:bold;
    padding-top:8px;
    border-bottom: 2px solid #c0c0c0;
    font-style: italic;
    font-family: "Times New Roman";
}

div#guninfo{
    background-color: tan;
    width:950px;
    height:60px;
    font-size: 30px;
    color:#e8491d;

}

a#bid_idA{
    color:blue;
    display:inline-block;
    width:47px;
    height:30px;
    margin-top:0px;
    margin-left:0px;
    padding-top:7px;
    font-size: 18px;
    text-align:center;
    border-left: 2px solid #c0c0c0;
    border-right: 2px solid #c0c0c0;
    border-bottom: 2px solid #c0c0c0;
    font-weight:bold;
    font-style: italic;
    font-family: "Times New Roman";
}


div#company{
    display:inline-block;
    width:274px;
    height:28px;
    padding-top:5px;
    font-size: 15px;
    text-align:center;
    margin-left:-5px;
    border-right: 2px solid #c0c0c0;
    border-bottom: 2px solid #c0c0c0;
    font-weight:bold;
    font-style: italic;
    font-family: "Times New Roman";
}

div#rm{
    color:black;
    display:inline-block;
    width:287px;
    height:30px;
    padding-top:7px;
    font-size: 18px;
    text-align:center;
    margin-left:-5px;
    border-right: 2px solid #c0c0c0;
    border-bottom: 2px solid #c0c0c0;
    font-weight:bold;
    font-style: italic;
    font-family: "Times New Roman";
    }

div#rmcost{
    display:inline-block;
    width:142px;
    height:30px;
    padding-top:7px;
    font-size: 18px;
    text-align:center;
    margin-left:-5px;
    border-right: 2px solid #c0c0c0;
    border-bottom: 2px solid #c0c0c0;
    font-weight:bold;
    font-style: italic;
    font-family: "Times New Roman";
}

div#rmactive1{
    display:inline-block;
    width:141px;
    height:34px;
    padding-top:4px;
    font-size: 18px;
    text-align:center;
    margin-left:-5px;
    margin-top:0px;
    border-right: 2px solid #c0c0c0;
    border-bottom: 2px solid #c0c0c0;
    font-weight:bold;
    font-style: italic;
    font-family: "Times New Roman";
}

input#rmactive{
    display:inline-block;
    width:24px;
    height:18px;
    text-align:center;
    margin-left:-5px;
    margin-top:5px;

}

div#delete{
    display:inline-block;
    width:131px;
    height:30px;
    padding-top:7px;
    font-size: 18px;
    text-align:center;
    margin-left:-5px;
    border-right: 2px solid #c0c0c0;
    border-bottom: 2px solid #c0c0c0;
    font-weight:bold;
    font-style: italic;
    font-family: "Times New Roman";
}

a#delete1.btn.btn9{
    border: 2px solid #C0C0C0;
    border-radius: 2px;
    background: red;
    width: 80px;
    height: 21px;
    font-size: 15px;
    color: black;
    font-style: italic;
    font-family: "Times New Roman";
    font-weight:bold;
    cursor: pointer;
    margin-top: 0px;
    margin-left:0px;
    margin-right:0px;
    margin-bottom: 0px;
    padding-top:0px;
    padding-bottom:0px;
    transition: 0.6s;
    position: relative;
    text-decoration: none;
    display: inline-block;
    text-align:center;

}

a#delete1.btn.btn9:hover{
    color: white;
    background: #7F0000;
}

div#st{
    display:inline-block;
    width:50px;
    height:28px;
    padding-top:3px;
    font-size: 15px;
    text-align:center;
    margin-left:-5px;
    border-right: 2px solid #c0c0c0;
    border-bottom: 2px solid #c0c0c0;
}


#searchbar{
    margin-left:auto;
    margin-right:auto;
    width:475px;
    height:50px;
    padding-top:60px;

}

#search{
    height:40px;
    width:300px;
    background-color:#c0c0c0;
    font-style: italic;
    font-family: "Times New Roman";
    text-align:center;
}

div#pag{
    margin-left:548px;
    padding-top:10px;
}

#searchbutton{
    width:150px;
    height:40px;
    font-style: italic;
    font-family: "Times New Roman";

}

div#pag.pagination{
    color:#c0c0c0;
    text-align:center;
    width:125px;
    height:40px;
    margin-left:auto;
    margin-right:auto;
    margin-top:640px;
    font-style: italic;
    font-family: "Times New Roman";
}

.rm-modal{
    width:100%;
    height:100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top:0;
    display:flex;
    justify-content: center;
    align-items: center;

}

.modal-content{
    width:500px;
    height:215px;
    margin-left:0px;
    margin-right:0px;
    background-color:#a9a9a9;
    border-radius:10px;
}

#modaltitle{
    height:50px;
    width:400px;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    font-size: 24px;
    font-style: italic;
    font-family: "Times New Roman";
    font-weight: bold;
    padding-top:50px;
}

.button1{
    border: 2px solid #C0C0C0;
    border-radius: 2px;
    background: #b08f26;
    width: 200px;
    height:75px;
    font-size: 18px;
    font-style: italic;
    font-family: "Times New Roman";
    font-weight: bold;
    cursor: pointer;
    float: left;
    margin-top: 60px;
    margin-top: 70px;
    margin-right: 0px;
    margin-left:26px;
    transition: 0.6s;
    text-align: center;
    overflow: hidden;
    padding:3px 5px;
    display:inline-block;
}
.button1{
    color: #000000;
}

.button1:hover{
    color: #a9a9a9;
    background: #695516;
    text-decoration: underline;
}

.button2{
    border: 2px solid #C0C0C0;
    border-radius: 2px;
    background: #b08f26;
    width: 200px;
    height: 75px;
    font-size: 18px;
    font-style: italic;
    font-family: "Times New Roman";
    font-weight: bold;
    cursor: pointer;
    float: right;
    margin-top: 60px;
    margin-top: 70px;
    margin-right: 26px;
    margin-left:0px;
    transition: 0.6s;
    text-align: center;
    overflow: hidden;
    padding:3px 5px;
    display:inline-block;
}
.button2{
    color: #000000;
}

.button2:hover{
    color: #a9a9a9;
    background: #695516;
    text-decoration: underline;
}
.container{
    position: relative;
    width: 80%;
    height:100vh;
    margin: 20px auto;
}
table{
    padding: 10px;
    width: 100%;
    height:auto;
}

th{
    margin-bottom: 20px;
    text-align: left;
    padding: 20px 0;
    text-transform: capitalize;
    font-size: 20px;
}

td{
    padding: 8px 20px;
    border: 1px solid rgb(32,33,33);
    font-size: 18px;
    text-align: left;
}
.btn_delete{
    padding: 8px 20px;
    font-size: 18px;
    text-align: center;
    display: block;
    background-color: brown;
    color: white;
    cursor: pointer;
}